* {
  box-sizing: border-box;
}

form.navbar-form navbar-left input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.navbar-form navbar-left button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.navbar-form navbar-left button:hover {
  background: #0b7dda;
}

form.navbar-form navbar-left::after {
  content: "";
  clear: both;
  display: table;
}
