{% extends "base.html" %}

{% block app_content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Welcome to Book Club!</h1>
          <p class="lead">Search for books you're interested in, sign in/register to write a review.</p>
          <ul class="list-unstyled">
            <li>Languages: Python3, HTML, CSS</li>
            <li>Tools/Libraries/Frameworks: Flask, SQLAlchemy, Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
